* {
    padding: 0px;
    margin: 0px;
}
h3 {
    color: blue;
}

#left {
    float: left;
    width: 50%;
    /* display: flex; */
}
#right {
    float: right;
    width:50%;
}
#clear_tag {
    clear: both;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col {
    flex: 1;
    /* display: inline-block; */
    /* width: 33.33%; */
    height: 100px;
    color: rgb(0, 0, 255);
    /* box-sizing: border-box; */
    /* padding: 10px; */
}
#button_calculate {
    height: 30px;
    width: 100px;
    background-color: blue;
    color: white;
    border: none;
}